@{
  ViewData["Title"] = "Home Page";
  var designs = ViewData["designs"] as
  List<DesignModel>;
  var filter = ViewData["filter"] as string;
}

<div class="text-center">
  <form asp-action="Index" method="get">
    <div class="form-inner-container">
      <label for="filter">Text
        to
        search</label>
      <input 
        type="text" 
        id="filter"
        placeholder="Text to search"
        name="filter" 
        value="@filter">
      <input type="submit" value="Show me!" />
    </div>
  </form>

  @* <form action="/Home/UpdateAllDesigns" method="post">
    <div class="form-inner-container">
      <label for="replace">Replace
        with</label>
      <input type="text" id="replace"
        name="replace"
        placeholder="Some text">
      <input type="submit" value="Update all!" />
    </div>
  </form> *@

  <div class="designs-grid">
    @foreach (var design in designs)
    {
        <div class="design">
          <img src="@design.PreviewImage"
            alt="Preview image">
          <div class="button-container">
            <button
              class="update-button">Update</button>
            <button
              class="delete-button">Delete</button>
          </div>
        </div>
    }
  </div>
</div>