@{
  ViewData["Title"] = "Home Page";
  var designs = ViewData["Designs"] as
  List<DesignModel>;
}

<div class="text-center">
  <div class="single-input-elements">
    <label for="Search">Text
      to
      search</label>
    <input type="text" id="Search"
      name="Search"
      placeholder="Text to search">
    <button type="button">
      Show me!</button>
  </div>

  <div class="single-input-elements">
    <label for="Replace">Replace
      with</label>
    <input type="text" id="Replace"
      name="Replace"
      placeholder="Some text">
    <button type="button">
      Update all!</button>
  </div>

  <div class="designs-grid">
    @foreach (var design in designs)
    {
        <div class="design">
          <img src="@design.PreviewImage"
            alt="Preview image">
          <div class="button-container">
            <button
              class="update-button">Update</button>
            <button
              class="delete-button">Delete</button>
          </div>
        </div>
    }
  </div>
</div>